__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
ENV
env
.git
.gitignore
.dockerignore
.env
.env.local
.env.*.local
*.log
logs/*
tests
.pytest_cache
.vscode
.idea
*.md
*.txt
node_modules
.DS_Store
*.db
honeypot.db
